<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd"
        xmlns:aop="http://www.springframework.org/schema/aop">

<!--    <bean id ="video" class ="com.happygeniubi.ssmdemo.domain.Video">-->
<!--        <property name="id" value="9"/>-->
<!--        <property name="title" value="Spring666"/>-->
<!--    </bean>-->
<!--  name 和 id一样都可以   -->

<!--    <bean name ="video" class ="com.happygeniubi.ssmdemo.domain.Video" init-method="" destroy-method=""> -->
    <bean name ="video" class ="com.happygeniubi.ssmdemo.domain.Video">
        <property name="id" value="9"/>
        <property name="title" value="Spring666"/>
    </bean>

    <bean id="timeHandler" class="com.happygeniubi.ssmdemo.aop.TimeHandler"/>
<!--    <bean id="videoService" class="com.happygeniubi.ssmdemo.service.impl.VideoServiceImpl"/>-->

    <!--  Aop配置  -->
    <aop:config>
        <aop:aspect id="timeHandler" ref="timeHandler">
                <!--    切入点表达式        -->
                <aop:pointcut id="allMethodLogPointCut" expression="execution(* com.happygeniubi.ssmdemo.service.VideoService.*(..)) "/>
                <!--    配置前置后置通知     -->
                <aop:before method="printBefore" pointcut-ref="allMethodLogPointCut"/>
                <aop:after method="printAfter" pointcut-ref="allMethodLogPointCut"/>
        </aop:aspect>
    </aop:config>
</beans>